<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DailyWiki</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DailyWiki_Local_ProofOfConcept.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="#">DailyWiki</a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy" target="_blank">Article Log</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-between align-items-center">
            &copy; 2023 - DailyWiki (Proof of Concept) <a asp-area="" asp-page="/Privacy">Privacy</a>
            <button id="refreshButton" class="btn btn-primary">Reload all Systems (Admin only)</button>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        document.getElementById("refreshButton").addEventListener("click", function () {
            var password = prompt("Enter the password:");
            if (password === "testString") {
                location.reload();
            } else {
                alert("Incorrect password. Access denied.");
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
