@page
@model DailyWiki_Local_ProofOfConcept.Pages.IndexModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<div class="text-center">
    <div style="margin-top: 60px;">
        <h1 style="font-size: 35px;" class="display-4">@Model.PageTitle</h1>
        <p style="font-size: 18px; text-align: left;">@Html.Raw(Model.CleanedText)</p>
        <p>Link to article: <a href="@Model.ArticleLink">@Model.ArticleLink</a></p>
    </div>
</div>
