@page
@model PrivacyModel
@{
    ViewData["Title"] = "List of articles displayed today:";
}
<h1>@ViewData["Title"]</h1>
<ul>
    @foreach (var entry in Model.ArticleLogService.ArticleLog)
    {
        <li>
            <a href="@entry.Link">@entry.Title</a>
        </li>
    }
</ul>