@page
@model PrivacyModel
@{
    ViewData["Title"] = "List of articles displayed today:";
}

<style>
    .centered-list {
        text-align: center;
    }

        .centered-list ul {
            display: inline-block;
            text-align: left;
            padding-left: 100px;
        }
</style>

<div class="text-center">
    <div style="margin-top: 60px;">
        <h1 style="font-size: 35px;">@ViewData["Title"]</h1>
        <div class="centered-list">
            <ul style="font-size: 20px;">
                @foreach (var entry in Model.ArticleLogService.ArticleLog)
                {
                    <li>
                        <a href="@entry.Link" style="font-size: 20px;">@entry.Title</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
